{{!-- eddit the book --}}

<h2>Edit the book: {{title}}</h2>


<form action="/books/{{_id}}/edit" method="post">
    <label for="">
        Title
        <input type="text" name="title" id="" value="{{title}}">
    </label>

    <label for="">
        Author
        <input type="text" name="author" value="{{author}}">
    </label>

    <label for="">
        Description
        <textarea name="description" id="" cols="30" rows="4">{{description}}</textarea>
    </label>

    <label for="">
        Rating
        <input type="number" name="rating" id="" min="1" max="10" value="{{rating}}">

    </label>

    <button type="submit">Create</button>

</form>